<div class="container">


  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>





  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.seadn.io/files/164b789e710a45fac68455f6318f2a87.png?fit=max&w=1000" class="d-block w-100" alt="1">
      </div>
      <div class="carousel-item">
        <img src="https://img.seadn.io/files/d6d897b0d2dd11d03d094adb7bc7f0b6.png?auto=format&fit=max&w=512" class="d-block w-100" alt="2">
      </div>
      <div class="carousel-item">
        <img src="https://img.seadn.io/files/565e3acae9f985f84d461eae15671126.png?fit=max&w=1000" class="d-block w-100" alt="3">
      </div>
    </div>
  </div>



</div>
