<div class="container">

    <div class="container-text-intro">
        <svg xmlns="http://www.w3.org/2000/svg">
          <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
            <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
          </filter>
        </svg>
      <span filter-content="S"> Explore, collect, and sell NVT’s </span>
    </div>

    <br>
    <br>
    <br>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/duotc6hkn/image/upload/v1670015517/NVTs/carousel-1_qdhls8.png" class="d-block w-100" alt="1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/duotc6hkn/image/upload/v1670015517/NVTs/carousel-2_xm4o5n.png" class="d-block w-100" alt="2">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/duotc6hkn/image/upload/v1670015517/NVTs/carouse-3_fa80mp.png" class="d-block w-100" alt="3">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <p>
  Building an open digital nvt marketplace!
  At NVT’s, we're excited about a brand new type of digital good called a non-valuable-token, or NVT. NVTs have exciting new properties: they’re unique, provably scarce, tradeable, and are not worth much. Just like physical goods, you can do whatever you want with them! You could throw them in the trash, gift them to a friend across the world, or go sell them on an open marketplace. But unlike physical goods, they're armed with all the programmability of digital goods.
  </p>

  <br>
  <p>
  A core part of our vision is that open protocols like $Nvc and interoperable standards like ERC-721 and ERC-1155 will enable vibrant new economies. We're building tools that allow consumers to trade their items freely, creators to launch new digital works, and developers to build rich, integrated marketplaces for their digital items.
  We’re proud to be the first and largest marketplace for NVT’s.
  </p>



</div>
