<body>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>


    <%# <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://img.seadn.io/files/164b789e710a45fac68455f6318f2a87.png?fit=max&w=1000" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://img.seadn.io/files/d6d897b0d2dd11d03d094adb7bc7f0b6.png?auto=format&fit=max&w=512" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://img.seadn.io/files/565e3acae9f985f84d461eae15671126.png?fit=max&w=1000" alt="Third slide">
        </div>
      </div>
    </div> %>



  <div class="card-show">
    <img src="https://img.seadn.io/files/d6d897b0d2dd11d03d094adb7bc7f0b6.png?auto=format&fit=max&w=512" />
    <div class="card-show-infos">
      <h3>Cool Cats NFT</h3>
      <h2>Cool Cat #1982</h2>
      <p>99999 <strong>$NVC</strong></p>
    </div>
  </div>

    <%# <%= link_to "Request buy", "#", class: "btn btn-buy" %>



  <div class="cards">

    <div class="card-item">
    <img src="https://img.seadn.io/files/4726610c4327ac5acbd13458fe52e152.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>Mutant Ape Yacht Club</h3>
        <h2>Mutant Ape #2954</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/9008e1ff76a030fd412be9850badd3e9.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>CryptoPunks</h3>
        <h2>Crypto Punk #7625</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/164b789e710a45fac68455f6318f2a87.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>Bored Ape Yacht Club</h3>
        <h2>Bored Ape #809</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/af064a5d4eb8fcebf0fb3ab535b0ad4f.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>CrypToadz by GREMPLIN</h3>
        <h2>CrypToadz #5184</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

    <div class="card-item">
    <img src="https://img.seadn.io/files/4726610c4327ac5acbd13458fe52e152.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>Mutant Ape Yacht Club</h3>
        <h2>Mutant Ape #2954</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/9008e1ff76a030fd412be9850badd3e9.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>CryptoPunks</h3>
        <h2>Crypto Punk #7625</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/164b789e710a45fac68455f6318f2a87.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>Bored Ape Yacht Club</h3>
        <h2>Bored Ape #809</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

     <div class="card-item">
    <img src="https://img.seadn.io/files/6201d503bde201ce67d642e9a3ab059f.png?fit=max&w=1000" />
      <div class="card-item-infos">
        <h3>Cool Cats NFT</h3>
        <h2>Cool Cat #1982</h2>
        <p>99999 <strong>$NVC</strong></p>
      </div>
    </div>

  </div>




</body>
