body, html {
  background-image: image-url('background.jpg');
  background-size: cover;
  height: 150%;
  color: white;
  text-align: center;
  font-family: sans-serif inherit;
}

// body, html {
//   // background-color: #141D2B;
//   background-color: #F8F9FA;
//   color: #8DB1CD;
//   text-align: center;
//   font-family: sans-serif inherit;
// }
