.btn-buy {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #8DB1CD;
  transition: background 0.3s ease;
  width: 90%;
}

.btn-buy:hover {
  background: #658195;
  color: white;
}
