.button {
  display: block;
  border: none;
  background-color: #8DB1CD;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background: #658195;
  color: #ffffff;
}
