
// --- show page --- //

.card-show {
  overflow: hidden;
  height: 360px;
  width: 100%;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  color: #8DB1CD;
}

.card-show:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  transform: scale(0.9, 0.9);
}

.card-show img {
  height: 100%;
  width: 360px;
  object-fit: cover;
  border-radius: 10px;
}

.card-show h3 {
  font-size: 54px;
  font-style: sans-serif inherit;
}

.card-show h2 {
  font-size: 72px;
  font-style: sans-serif inherit;
  margin: 0;
  border-bottom: solid #1A2332;
}

.card-show p {
  font-size: 36px;
  font-style: sans-serif inherit;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-show .card-show-infos {
  padding: 48px;
  margin-left: 24px;
}



// --- index page --- //

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.card-item {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 10%;
  color: #8DB1CD;
}

.card-item:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  transform: scale(0.9, 0.9);
}

.card-item img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.card-item h3 {
  font-size: 18px;
  font-style: sans-serif inherit;
}

.card-item h2 {
  font-size: 24px;
  font-style: sans-serif inherit;
  margin: 0;
  border-bottom: solid #1A2332;
}

.card-item p {
  font-size: 12px;
  font-style: sans-serif inherit;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-item .card-item-infos {
  padding: 16px;
  margin-left: 8px;
}



// --- Create page --- //

.card-create {
  overflow: hidden;
  height: 720px;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10%;
  color: #8DB1CD;
}

.card-create:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  transform: scale(0.9, 0.9);
}

.card-create form {
  width: 90%;
  flex-direction:row;
  padding:2px;
  margin: 10%;
}

.card-create input {
  background-color: #1A2332;
  border: solid 1px #8DB1CD;
  border-radius: 50px;
  flex-grow:2;
  color: #8DB1CD;
  padding-left: 20px;
}



// --- Profile page --- //

.card-profile {
  overflow: hidden;
  justify-content: center;
  // height: 720px;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  // margin: 10%;
  color: #8DB1CD;
  margin-bottom: 10px;
  padding: 50px;
}

.card-profile .card-item {
  overflow: hidden;
  height: 120px;
  // width: 100%;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #8DB1CD;
}



// --- New transaction --- //

.card-new-transaction {
  overflow: hidden;
  height: 360px;
  background: #111927;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  color: #8DB1CD;
  justify-content: center;
}

.card-new-transaction input {
  background-color: #1A2332;
  border: none;
  border-radius: 50px;
  flex-grow:2;
  color: #8DB1CD;
}


// --- Transaction~ --- //

.card-transaction {
  overflow: hidden;
  height: 720px;
  background: #111927;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #8DB1CD;
  justify-content: center
}

.card-transaction:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  transform: scale(0.9, 0.9);
}

.card-transaction form {
  width: 90%;
  flex-direction:row;
  padding:2px;
  margin: 10%;
}

.card-transaction input {
  background-color: #1A2332;
  border: none;
  border-radius: 50px;
  flex-grow:2;
  color: #8DB1CD;
  padding-left: 20px;
}
