
.container h1 {
  text-align: center;
  font-size: 96px;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.container p {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.container-content-display p {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;
}

.container-content-display a {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #8DB1CD;
    padding: 14px 28px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }

  .container-content-display a:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    background: #6e8aa0
  }



// --- Show --- //

.container-content {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0 0 15px rgba(0,0,0,0.3);

}



// --- Profile --- //

.container-profile {
  margin: 5%;
  text-align: center;
  display: block;
  margin-bottom: 20px;


}
