.navbar-lewagon {
  justify-content: space-between;
  background: #111927;
  color: #8DB1CD;
  font-family: inherit;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: 50px;
  margin-right: -200px;
  margin-left: 20px;
}

.nav-link {
  color: #8DB1CD;
}

#navbar-index {
  li {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
  }
}

form {
  width: 900px;
  height: 40px;
  display:flex;
  flex-direction:row;
  padding:2px;
  margin-left: 150px;
}

input {
  background-color: #1A2332;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-grow:2;
  color: #8DB1CD;
  padding-left: 20px;
}

button {
  background-color: #1A2332;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #8DB1CD;
  padding-right: 20px;
}
